@page "/logs/{ServiceName}"
@inject Application application
@implements IDisposable

<h3>Logs</h3>

@if (ApplicationLogs == null)
{
    <div>Loading logs</div>
}
else
{
    <div style="overflow-y: scroll;position: absolute;height: 84%; width:75%; color:white;background-color:black;padding:10px">
        @foreach (var log in ApplicationLogs)
        {
            <div style="width:100%">@log</div>
        }
    </div>
}

@code {
    [Parameter]
    public string ServiceName { get; set; }

    public List<string> ApplicationLogs { get; set; }

    private IDisposable _subscription;

    protected override void OnInitialized()
    {
        // TODO: handle this returning false
        if (application.Services.TryGetValue(ServiceName, out var service))
        {
            ApplicationLogs = new List<string>(service.CachedLogs);

            _subscription = service.Logs.Subscribe(log =>
            {
                InvokeAsync(() =>
                {
                    ApplicationLogs.Add(log);
                    StateHasChanged();
                });
            });
        }

        base.OnInitialized();
    }

    void IDisposable.Dispose()
    {
        _subscription?.Dispose();
    }
}
